# sync files
sync/*
# hashed files
hashed.json
# mantin
!sync/.gitkeep

# dependencies
/client-app/node_modules
/client-app/.pnp
.pnp.js

# testing
/client-app/coverage

# production
/client-app/build

# misc
/client-app/*.DS_Store
/client-app/*.env.local
/client-app/*.env.development.local
/client-app/*.env.test.local
/client-app/*.env.production.local

/client-app/.tscache
/client-app/dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*